{
  "GitHub": {
    "WebhookSecret": "mysecret",
    "Token": "github_pat_AAAA"
  },
  "Discourse": {
    "Enable": false,
    "ApiKey": "---",
    "Username": "---",
    "DiscussionCategoryId": 0,
    "BreakingChangesCategoryId": 1,
    "Url": "https://forum.example.com/"
  }
}