{
  "GitHub": {
    "WebhookSecret": "mysecret",
    "AuthMode": "Pat",
    "Token": "github_pat_AAAA",
    "Owner": "space-wizards",
    "Repo": "space-station-14"
  },
  "Discourse": {
    "Enable": false,
    "ApiKey": "---",
    "Username": "---",
    "DiscussionCategoryId": 0,
    "BreakingChangesCategoryId": 1,
    "Url": "https://forum.example.com/"
  }
}